.contact-information-container {
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    &__service-list-item {
      width: calc(33.33% - 20px);
      background-color: var(--dark-light-white);
      padding: 45px 30px;
      &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
        h5 {
          color: var(--secondary);
          font-size: 13px;
          font-weight: 400;
          line-height: 1.7;
        }
        p {
        }
      }
    }
  }
}
