.button-wrapper {
  button {
    background-color: var(--orange);
    border: 0px;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--black-1);
  }
}
