.bgshadow-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  height: 400px;
  background: url("/images/bg.jpg");
  background: url(/images/bg.jpg) 0% 43% / 170% no-repeat;

  .overlay {
    background-image: linear-gradient(
      180deg,
      rgba(240, 240, 246, 0.93) 0%,
      rgba(240, 240, 246, 0.96) 70%,
      rgba(240, 240, 246, 0.99) 80%,
      rgba(240, 240, 246, 1) 100%
    );
    height: 100%;
    width: 100%;
  }
}
