.bgshadow-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 400px;
  background: linear-gradient(
      0deg,
      rgba(240, 240, 246, 0.99) 0%,
      rgba(240, 240, 246, 0.99) 0%,
      rgba(240, 240, 246, 0.95) 30%,
      rgba(240, 240, 246, 0.9) 100%
    ),
    url("/images/bg.jpg") 40% -250px / cover no-repeat;
}
