.newsletter-container {
  margin-bottom: 30px;
  .custom-slider {
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            margin-right: 30px;
          }
        }
      }
    }
  }
  &__card-item {
    &__info-block {
      background-color: var(--dark-light-white);
      padding: 30px;
    }
    &__image-block {
      box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      position: relative;
      width: 100%;
      height: 190px;
    }
    &__date {
    }
    &__title {
    }
    &__description {
    }
  }
}
