$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg-s: 992px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@mixin respond-to($breakpoint, $type: min) {
  @if $type == min {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if $type == max {
    @media (max-width: ($breakpoint - 0.02)) {
      @content;
    }
  }
}
