@import "../../styles/mixins.scss";

.my-services-container {
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    &__service-list-item {
      width: 100%;
      background-color: var(--dark-light-white);
      padding: 30px;

      @include respond-to($breakpoint-md) {
        width: calc(50% - 15px);
      }
      @include respond-to($breakpoint-lg) {
        width: calc(33.33% - 20px);
      }

      h5 {
        margin-bottom: 15px;
        color: var(--secondary);
        font-size: 14px;
        font-weight: 600;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }
}
