@import "../../styles/mixins.scss";

header {
  background-color: var(--light-grap-bg);
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 0px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  @include respond-to($breakpoint-lg) {
    display: none;
  }

  .header-wrapper {
    &__icon-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      button {
        background-color: unset;
        border: 0;
        cursor: pointer;
        i {
          font-size: 20px;
          font-weight: 900;
        }
      }
    }
  }
}
