.circular-progress {
  .trail,
  .path {
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: center;
  }

  .progress-text {
    // font-size: 1rem;
    fill: var(--primary);
    font-weight: 400;
    padding: 3px;
    font-size: 12px;
    text-align: center;
  }
}
